body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 900px; margin: 5px; width: 1800px; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 180px;
    height: 35px;
    font-family: Tahoma;
    font-size: 13px;
    color:black;
}

.nodeExample1 img {
    margin-right:  10px;
}

.gray0 {
    background-color: #FFFFFF;
}
.gray1 {
    background-color: #DDDDDD;
}
.gray2 {
    background-color: #C0C0C0;
}
.gray3 {
    background-color: #969696;
}
.gray4 {
    background-color: #808080;
}
.gray5 {
    background-color: #646464;
}
.yellow {
    background-color: #FFD300;
}
